body {
    margin: 0;
    background: #f7927e;
}

/* Card bên trái */
.card#line1 {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding: 15px;
}

/* Chỉnh chữ */
.card#line1 h1 {
    color: orange;
    font-size: 80px;
}

/* Photo bên phải */
.photo#photo1 {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 400px;
}
